<!DOCTYPE html>
<html lang="fa">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap-rtl.min.css" />
        <link rel="stylesheet" href="static/css/styles.css">
        <title>وبسایت تستی</title>
    </head>
    <body>
        <ul>
            <li><a href="/">صفحه اصلی</a></li>
            <li><a href="/addUser">ثبت نام</a></li>
            <li><a href="#">ورود</a></li>
            <li><a href="#">درباره ما</a></li>
            <li><a href="#">خروج</a></li>
        </ul>
    </body>
</html>