<!DOCTYPE html>
<html lang="fa">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap-rtl.min.css" />
        <link rel="stylesheet" href="static/css/styles.css">
        <title>وبسایت تستی</title>
    </head>
    <body>
        <ul>
            {% for item in items %}
            <li><a href="#">{{ item }}</a></li>
            {% end %}
        </ul>
    </body>
</html>